## Are votes for a new party explained by the votes for old parties?

In [1]:
%matplotlib inline

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

### Data for votes on the 04.04.2021 election from CIK

In [26]:
votes_1 = pd.read_csv('data/votes_04.04.2021.csv', sep = ';', header = None)

In [4]:
votes_1

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,10100001,1,1,7,5,2,2,0,0,0,...,104,14,29,82,58,24,30,0,0,0
1,10100002,1,1,11,9,2,2,2,2,0,...,111,14,29,56,38,18,30,1,0,1
2,10100003,1,1,9,9,0,2,0,0,0,...,115,19,29,68,39,29,30,0,0,0
3,10100004,1,1,9,5,4,2,0,0,0,...,135,16,29,46,32,14,30,0,0,0
4,10100005,1,1,12,8,4,2,0,0,0,...,86,32,29,39,21,18,30,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12936,326700461,32,1,7,7,0,2,1,1,0,...,53,0,29,162,162,0,30,2,2,0
12937,326800462,32,1,2,2,0,2,0,0,0,...,18,0,29,85,85,0,30,0,0,0
12938,326800463,32,1,1,1,0,2,0,0,0,...,13,0,29,46,46,0,30,1,1,0
12939,326800464,32,1,8,8,0,2,1,1,0,...,58,0,29,120,120,0,30,1,1,0
12940,326900465,32,1,1,1,0,2,0,0,0,...,6,0,29,7,7,0,30,0,0,0

In [5]:
votes_1 = votes_1[[0,3,7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119]]

In [6]:
votes_1['Total'] = votes_1[[3,7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119]].sum(axis=1)

<ipython-input-6-e3ec44d64682>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  votes_1['Total'] = votes_1[[3,7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119]].sum(axis=1)

In [7]:
votes_1 = votes_1[[0,15,35,43,111,115,'Total']]

In [8]:
votes_1 = votes_1.rename(columns=
              {0: "section",
               15: "BSP",
               35: "DPS",
               43: "DB",
               111: "GERB",
               115: "ITN"})

### The new parti is ITN

In [9]:
y = votes_1.ITN

In [10]:
y

0         82
1         56
2         68
3         46
4         39
        ...
12936    162
12937     85
12938     46
12939    120
12940      7
Name: ITN, Length: 12941, dtype: int64

In [12]:
X = votes_1.drop(['section','ITN','Total'], axis = 1)

In [14]:
X

       BSP  DPS   DB  GERB
0       77    0   25   118
1       50    0   40   125
2       48    1   18   134
3       73    0   34   151
4       54    1   37   118
...    ...  ...  ...   ...
12936   36    1  284    53
12937   16    8   71    18
12938   13    6   79    13
12939   48   32  125    58
12940    4    0   43     6

[12941 rows x 4 columns]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, test_size = 0.3)

In [16]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [17]:
print(reg.coef_)

[ 0.57872436 -0.04339145  0.413995    0.12506737]

### BSP has the higher coeficient, DPS the lowest

In [22]:
y_pred = reg.predict(X_test)

In [23]:
r2_score(y_test, y_pred)

0.41953728918409594